*{
padding: 0;
margin: 0;
}

$color1: #A6044B;
$color2: #777777;
$color3: #232323;
$color4: white;

/* -------------------------------- / BODY / -------------------------------- */

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Spartan', sans-serif;
    display: grid;
    background-color: black;
}

/* -------------------------------- / HEADER / -------------------------------- */

.container-header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, black 78%, #030362 97%, #00caff 100%);
}
.h1-logo{
    height: 80%;
    width: 25%;
}
.h1-logo img{
    height: 70px;
    width: 286px;
}
.nav{
    height: 80%;
    width: 75%;
}
.nav ul{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
}
nav ul li{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px;
}
a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.btn{
    width: 120px;
    background-color: black;
}
.btn:hover{
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 8%, rgba(166,4,75,1) 97%, rgba(166,4,75,1) 100%);
    border: solid 1px #A6044B;
}

@media only screen and (max-width: 1140px) {
    .container-header{
        height: 150px;
        display: inline-block
    }
    .h1-logo{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h1-logo img{
        height: 70px;
        width: 286px;
    }
    .nav{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav ul{
        height: 100%;
        width: 95%;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: center;
        align-items: center;
    }
    .nav ul li{
        padding: 5px;
    }
    a{
        font-size: 13px;
    }
    .btn{
        width: 105px;
    }
}

@media only screen and (max-width: 720px) {

    .container-header{
        height: 250px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }
    .h1-logo{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h1-logo img{
        height: 58px;
        width: 236px;
    }
    .nav{
        height: 75%;
        width: 100%;
    }
    .nav ul{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .nav ul li{
        padding: 5px;
    }
    a{
        font-size: 13px;
    }
    .btn{
        width: 110px;
    }
}

/* -------------------------------- / INDEX / -------------------------------- */

#particles-js{
    height: 98%;
    width: 98%;
    display: flex;
    align-items: center;
}

/* ------------- MAIN / INDEX ------------- */

.container-main-index{
    height: 1800px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}   
.index-section1{
    height: 800px;
    background-image: url(../images/earth.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-index{
    height: 400px;
    width: 450px;
    display: flex;
    align-items: center;
    text-align: left;
    color: white;
    font-size: 80px;
    font-weight: bold;
    background: none;
    background-color: none;
    position: absolute;
    margin: 0% 0% 0% 15%;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1140px) {
    .container-main-index{
    height: 1440px;
    }
    .index-section1{
    height: 640px;
    }
    .message-index{
    height: 320px;
    width: 360px;
    font-size: 64px;
    }
}
@media only screen and (max-width: 720px) {
    .container-main-index{
    height: 1152px;
    }
    .index-section1{
    height: 512px;
    }
    #particles-js{
    justify-content: center;
    }
    .message-index{
    height: 256px;
    width: 288px;
    font-size: 52px;
    margin: 0%;
    }
}
.index-section2{
    height: 500px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 95%, rgba(3,3,98,1) 99%, rgba(0,202,255,1) 100%);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}
.is2-div-a, .is2-div-b, .is2-div-c {
    height: 320px;
    width: 270px;
    color: white;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 50px;
}
.is2-div-a-i,.is2-div-b-i,.is2-div-c-i {
    height: 40%;
    width: 100%;
}
.is2-div-a-t,.is2-div-b-t,.is2-div-c-t {
    height: 50%;
    width: 100%;
    font-size: 35px;
    display: flex;
    text-align: center;
    align-items: center;
}
.is2-div-a-t:hover, .is2-div-b-t:hover, .is2-div-c-t:hover {
    transition: 1s;
    font-size: 40px;
    font-weight: bold;
}
@media only screen and (max-width: 1140px) {
    .index-section2{
        height: 400px;
    }
    .is2-div-a, .is2-div-b, .is2-div-c {
        height: 256px;
        width: 216px;
        margin: 7px;
    }
    .is2-div-a-t,.is2-div-b-t,.is2-div-c-t {
        font-size: 28px;
    }
    .is2-div-a-t:hover, .is2-div-b-t:hover, .is2-div-c-t:hover {
        font-size: 32px;
    }
}
@media only screen and (max-width: 720px) {
    .index-section2{
        height: 320px;
    }
    .is2-div-a, .is2-div-b, .is2-div-c {
        height: 180px;
        width: 152px;
        margin: 4px;
    }
    .is2-div-a-t,.is2-div-b-t,.is2-div-c-t {
        font-size: 17px;
    }
    .is2-div-a-t:hover, .is2-div-b-t:hover, .is2-div-c-t:hover {
        font-size: 20px;
    }
}
.index-section3{
    height: 500px;
    background-image: linear-gradient(to bottom, #051937, #001945, #001752, #00135d, #0e0a67);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is3-div{
    height: 70%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.is3-div-a{
    height: 350px;
    width: 500px;
    background-image: url(../images/index-market.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 2%;
    box-shadow: 8px 8px 24px -10px rgba(0,0,0,0.84);
    -webkit-box-shadow: 8px 8px 24px -10px rgba(0,0,0,0.84);
    -moz-box-shadow: 8px 8px 24px -10px rgba(0,0,0,0.84);
}
.is3-div-b{
    height: 95%;
    width: 90%;
    display: grid;
    grid-template-columns: auto;
}
.is3-div-b-t1, .is3-div-b-t2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    padding-left: 40px;
}
@media only screen and (max-width: 1140px) {
    .index-section3{
    height: 400px;
    }
    .is3-div-a{
        height: 245px;
        width: 350px;  
    }
    .is3-div-b{
        width: 100%;
    }
    .is3-div-b-t1, .is3-div-b-t2{
        font-size: 20px;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 960px) {
    .is3-div-a{
        height: 200px;
        width: 300px;
    }
    .is3-div-b-t1, .is3-div-b-t2{
        font-size: 15px;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 720px) {
    .index-section3{
    height: 320px;
    }
    .is3-div-a{
        height: 150px;
    }
    .is3-div-b-t1, .is3-div-b-t2{
        font-size: 12px;
    }
}

/* -------------------------------- / FOOTER / -------------------------------- */

.container-footer{
    height: 200px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 85%, rgba(3,3,98,1) 97%, rgba(0,202,255,1) 100%);
}
.footericons{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: flex-end;
    justify-content: center;
}
.footericons1, .footericons2, .footericons3, .footericons4, .footericons5 {
    padding: 10px;
}
.message-footer{
    width: 100%;
    height: 50%;
    display: grid;
    color: white;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 720px) {
    .container-footer{
        height: 150px;
    }
    .message-footer{
        font-size: 12px; 
    }
}

/* -------------------------------- / MEMBRESIAS / -------------------------------- */

.main-container-membresias{
    height: 1000px;
    width: 100%;
    background-image:  linear-gradient(30deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(150deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(30deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(150deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(60deg, #02021477 25%, transparent 25.5%, transparent 75%, #02021477 75%, #02021477), linear-gradient(60deg, #02021477 25%, transparent 25.5%, transparent 75%, #02021477 75%, #02021477);
    background-size: 22px 39px;
    background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.membresias1, .membresias2, .membresias3{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 0% 10%;
    padding: 20px;
}
.membresias1{
    background: rgb(53,233,244);
    background: linear-gradient(180deg, rgba(53,233,244,1) 60%, rgba(40,228,246,1) 75%, rgba(6,142,213,1) 100%);
}
.membresias2{
    background: rgb(245,212,121);
    background: linear-gradient(180deg, rgba(245,212,121,1) 60%, rgba(212,179,44,1) 75%, rgba(171,135,67,1) 100%);
}
.membresias3{
    background: rgb(244,244,244);
    background: linear-gradient(180deg, rgba(244,244,244,1) 60%, rgba(212,212,212,1) 75%, rgba(167,167,167,1) 100%);
}
@mixin membresias-icono {
    height: 250px;
    width: 250px;
    background-color: black;
    padding: 20px;
}
.membresias1-icono{
    @include membresias-icono;
    color: #67fff8;
}
.membresias2-icono{
    @include membresias-icono;
    color: #c3983a;
}
.membresias3-icono{
    @include membresias-icono;
    color: #bbbbbb;
}
@mixin membresias-titulo {
    height: 250px;
    width: 250px;
    padding: 20px;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
}
.membresias1-titulo, .membresias2-titulo, .membresias3-titulo{
    @include membresias-titulo;
}
.h2-membresias-titulo1{
    font-size: 30px;
    font-weight: bold;
    color: #67fff8;
}
.h2-membresias-titulo2{
    font-size: 30px;
    font-weight: bold;
    color: #c3983a;
}
.h2-membresias-titulo3{
    font-size: 30px;
    font-weight: bold;
    color: #bbbbbb;
}
@mixin membresias-texto {
    height: 250px;
    width: 500px;
    padding: 20px;
    background-color: black;
    display: flex;
    text-align: left;
    align-items: center;
}
.membresias1-texto, .membresias2-texto, .membresias3-texto{
    @include membresias-texto;
}
.h3-membresias-texto1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.h3-membresias-texto2{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.h3-membresias-texto3{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 1140px) {
    .main-container-membresias{
        height: 600px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .membresias1, .membresias2, .membresias3{
        padding: 10px;
    }
    @mixin membresias-icono {
        height: 150px;
        width: 150px;
        padding: 10px;
    }
    .membresias1-icono{
        @include membresias-icono;
    }
    .membresias2-icono{
        @include membresias-icono;
    }
    .membresias3-icono{
        @include membresias-icono;
    }
    @mixin membresias-titulo {
        height: 150px;
        width: 150px;
        padding: 10px;
    }
    .membresias1-titulo, .membresias2-titulo, .membresias3-titulo{
        @include membresias-titulo;
    }
    .h2-membresias-titulo1, .h2-membresias-titulo2, .h2-membresias-titulo3{
        font-size: 20px;
    }
    @mixin membresias-texto {
        height: 150px;
        width: 300px;
        padding: 10px;
    }
    .membresias1-texto, .membresias2-texto, .membresias3-texto{
        @include membresias-texto;
    }
    .h3-membresias-texto1, .h3-membresias-texto2, .h3-membresias-texto3{
        font-size: 14px;
    }
}
@media only screen and (max-width: 720px) {
    .main-container-membresias{
        height: 500px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .membresias1, .membresias2, .membresias3{
        padding: 5px;
    }
    @mixin membresias-icono {
        height: 100px;
        width: 100px;
        padding: 5px;
    }
    .membresias1-icono{
        @include membresias-icono;
    }
    .membresias2-icono{
        @include membresias-icono;
    }
    .membresias3-icono{
        @include membresias-icono;
    }
    @mixin membresias-titulo {
        height: 100px;
        width: 100px;
        padding: 5px;
    }
    .membresias1-titulo, .membresias2-titulo, .membresias3-titulo{
        @include membresias-titulo;
    }
    .h2-membresias-titulo1, .h2-membresias-titulo2, .h2-membresias-titulo3{
        font-size: 12px;
    }
    @mixin membresias-texto {
        height: 100px;
        width: 175px;
        padding: 10px;
    }
    .membresias1-texto, .membresias2-texto, .membresias3-texto{
        @include membresias-texto;
    }
    .h3-membresias-texto1, .h3-membresias-texto2, .h3-membresias-texto3{
        font-size: 9px;
    }
}

/* -------------------------------- / ACADEMIA / -------------------------------- */

.main-container-academia{
    height: 3000px;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    background-image:  linear-gradient(30deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(150deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(30deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(150deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(60deg, #02021477 25%, transparent 25.5%, transparent 75%, #02021477 75%, #02021477), linear-gradient(60deg, #02021477 25%, transparent 25.5%, transparent 75%, #02021477 75%, #02021477);
    background-size: 22px 39px;
    background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.academia3{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    padding: 10px;
}
.academia3{
    background: rgb(166,4,75);
    background: linear-gradient(180deg, rgba(166,4,75,1) 60%, rgba(112,3,51,1) 75%, rgba(45,2,21,1) 100%);
}
@mixin academia-imagen {
    height: 250px;
    width: 250px;
    background-color: black;
    padding: 20px;
}
.academia3-imagen{
    @include academia-imagen;
    color: #bbbbbb;
}
@mixin academia-texto {
    height: 250px;
    width: 500px;
    padding: 20px;
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 11px ), repeating-linear-gradient( #14020e55, #14020e );
    display: flex;
    text-align: left;
    align-items: center;
}
.academia3-texto{
    @include academia-texto;
}
.h3-academia-texto3{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
@media only screen and (max-width: 1140px) {
    .main-container-academia{
        height: 1800px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .academia3{
        padding: 5px;
    }
    @mixin academia-imagen {
        height: 150px;
        width: 150px;
        padding: 10px;
    }
    .academia3-imagen{
        @include academia-imagen;
    }

    @mixin academia-texto {
        height: 150px;
        width: 300px;
        padding: 10px;
    }
    .academia3-texto{
        @include academia-texto;
    }
    .h3-academia-texto3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 720px) {
    .main-container-academia{
        height: 1200px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .academia3{
        padding: 2px;
    }
    @mixin academia-imagen {
        height: 100px;
        width: 100px;
        padding: 5px;
    }
    .academia3-imagen{
        @include academia-imagen;
    }

    @mixin academia-texto {
        height: 100px;
        width: 175px;
        padding: 10px;
    }
    .academia3-texto{
        @include academia-texto;
    }
    .h3-academia-texto3{
        font-size: 15px;
    }
}

/* -------------------------------- / NOTICIAS / -------------------------------- */

.noticias-titulo{
    background-color: black;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.noticias-texto{
    background-color: black;
    padding: 10px;
    font-size: 20px;
    color: white;
}
@media only screen and (max-width: 1140px) {
    .noticias-titulo{
        padding: 7px;
        font-size: 20px;
    }
    .noticias-texto{
        padding: 5px;
        font-size: 15px;
    }
}

/* -------------------------------- / STAFF / -------------------------------- */

.main-container-staff{
    height: 1000px;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    background-image:  linear-gradient(30deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(150deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(30deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(150deg, #020214 12%, transparent 12.5%, transparent 87%, #020214 87.5%, #020214), linear-gradient(60deg, #02021477 25%, transparent 25.5%, transparent 75%, #02021477 75%, #02021477), linear-gradient(60deg, #02021477 25%, transparent 25.5%, transparent 75%, #02021477 75%, #02021477);
    background-size: 22px 39px;
    background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
    align-items: center;
    justify-content: center;
}
.staff1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}
.staff1-div1, .staff1-div2, .staff1-div3{
    height: 600px;
    width: 300px;
    margin: 30px;
    display: inline-block;
    justify-content: center;
}
@mixin staff1-div-imagen {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
.staff1-div1-imagen{
    @include staff1-div-imagen;
    background-image: url(../images/staff1.JPG);
}
.staff1-div2-imagen{
    @include staff1-div-imagen;
    background-image: url(../images/staff2.JPG);
}
.staff1-div3-imagen{
    @include staff1-div-imagen;
    background-image: url(../images/staff3.JPG);
}
.staff1-div1-titulo, .staff1-div2-titulo,  .staff1-div3-titulo{
    height: 50px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.staff1-div1-texto, .staff1-div2-texto, .staff1-div3-texto{
    height: 300px;
    width: 300px;
    text-align: center;
    color: white;
}
@media only screen and (max-width: 1140px) {
    .main-container-staff{
        height: 700px;
        width: 100%;
    }
    .staff1{
        height: 100%;
        width: 100%;
    }
    .staff1-div1, .staff1-div2, .staff1-div3{
        height: 420px;
        width: 210px;
        margin: 21px;
    }
    @mixin staff1-div-imagen {
        height: 210px;
        width: 210px;
    }
    .staff1-div1-imagen{
        @include staff1-div-imagen;
    }
    .staff1-div2-imagen{
        @include staff1-div-imagen;
    }
    .staff1-div3-imagen{
        @include staff1-div-imagen;
    }
    .staff1-div1-titulo, .staff1-div2-titulo,  .staff1-div3-titulo{
        height: 35px;
        width: 210px;
        font-size: 21px;
    }
    .staff1-div1-texto, .staff1-div2-texto, .staff1-div3-texto{
        height: 210px;
        width: 210px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 750px) {
    .main-container-staff{
        height: 500px;
        width: 100%;
        display: flex;
    }
    .staff1{
        height: 100%;
        width: 100%;
    }
    .staff1-div1, .staff1-div2, .staff1-div3{
        height: 210px;
        width: 105px;
        margin: 12px;
    }
    @mixin staff1-div-imagen {
        height: 115px;
        width: 105px;
    }
    .staff1-div1-imagen{
        @include staff1-div-imagen;
    }
    .staff1-div2-imagen{
        @include staff1-div-imagen;
    }
    .staff1-div3-imagen{
        @include staff1-div-imagen;
    }
    .staff1-div1-titulo, .staff1-div2-titulo,  .staff1-div3-titulo{
        height: 15px;
        width: 105px;
        font-size: 10px;
    }
    .staff1-div1-texto, .staff1-div2-texto, .staff1-div3-texto{
        height: 105px;
        width: 105px;
        font-size: 7px;
    }
}